.fa-heart, .fa-lightbulb, .fa-star{
 font-family: "Font Awesome 5 Free";
 font-size: 55px;
}

.fa-envelope, .fa-phone-volume, .fa-map-marker-alt{
	display: flex;
}

.region-foot-address p, .region-foot-phone p,
.region-foot-email p{
	padding-left: 20px;
  cursor: pointer;
  font-weight: normal;
  font-family: 'Lato',sans-serif;
}

.fa-map-marker-alt:before {
  position: absolute;
  color: #bdc3c7b5;
}

.fa-phone-volume:before {
  content: "\f2a0";
  position: absolute;
  color: #bdc3c7b5;
}
.fa-envelope:before {
  content: "\f0e0";
  position: absolute;
  color: #bdc3c7b5;
}

.email-foot:before, .phone-foot:before{
  color: black;
}

.region-footer1 h2, .region-footer2 h2,
.region-footer3 h2, .region-footer4 h2{
  font-size: 24px;
}


.region-footer1 h3{
  font-size: 40px;
  font-weight: 400;
  margin-top: 0px;
}

.region-about1 p, .region-about2 p,
.region-about3 p, .region-about4 p{
 font-size: 12px;
 font-weight: 400;
 color: #7197a4;
}

.about_top p {
  max-width: 100%;
}
.region-about1 h2{
  font-weight: 500;
}

 .region-about4 h2{
   font-size: 24px;
 }

.region-contact h2{
  font-weight: 500;
}

.region-contact p{
  font-size: 14px;
  font-weight: 500;
}

.region-contact-button-text p{
  padding-bottom: 0px;
  font-weight: 300;
  font-size: 14px;
}

.btn:hover, .btn:focus, .btn.focus {
 color: #ffffff;
 text-decoration: none;
}
.region-banner h2{
  font-weight: 300;
}

.region-banner p{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  margin: auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.region-banner-button-text p{
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 8px;
 padding-bottom: 8px;
 font-size: 12px;
 color: white;
 font-weight: 500;
}
