

  {% if page.branding or page.navigation %}
    <nav class="navbar navbar-default navbar-fixed-top mainnav">
      <div class="header-head">
        <div class="hh-container clearfix">
          <span class="left">
            {{ page.top_left }}
          </span>
          <span class="right">
            {{ page.top_right }}
          </span>
        </div>
      </div>

      <div class="container">
        <div class="row">
        <div class="navbar-header col-lg-2 col-sm-3 col-xs-12">
          {{ page.branding }}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theoneNavbar" aria-expanded="false">
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      			</button>
        </div>
        <div class="navibar col-lg-10 col-sm-9">
        {% if page.navigation %}
          <div id="theoneNavbar" class="navbar-collapse collapse">
            {{ page.navigation }}
          </div>
        {% endif %}
        </div>
      </div>
    </nav>
  {% endif %}

    <!-- Container (Banner) -->
  <container>
    <div class="main-container">
      <div class="container content">
        {% if page.content %}
          {{ page.breadcrumb }}
          {{ page.content }}
          {% endif %}
      </div>
    </div>
  </container>

    <!-- Container (Showcase) -->

    <!-- Container (Contact Section) -->
  {% if page.contact %}
    <div class="container-fluid text-center contact">
      {{ page.contact }}
      <button type="button" class="btn">{{ page.contact_button_text}}</button>
    </div>
  {% endif %}

    <!-- Footer -->
  {% if page.footer1 or page.footer2 or page.footer3 or page.footer4 %}
    <footer>
      <div class="container foot">
        <div class="footer">
          <div class="col-sm-3">
            {{ page.footer1 }}
            <p class="foot-arrow"><a class="more" href="#"> {{ "More about us"|t }} &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
          </div>
          <div class="col-sm-3">
            {{ page.footer2 }}
          </div>
          <div class="col-sm-3">
            {{ page.footer3 }}
            {{ page.foot_address }}
            {{ page.foot_phone }}
            {{ page.foot_email }}
          </div>
          <div class="col-sm-3">
            {{ page.footer4 }}

          </div>
        </div>
      </div>
    </footer>
  {% endif %}

  {% if page.watermark or page.footer_menu %}
    <div class="foot-container clearfix">
      <div class="footer-foot">
        {{ page.watermark }}
        {{ page.footer_menu }}
    </div>
  </div>
{% endif %}
