  {% if page.branding or page.navigation %}
    <nav class="navbar navbar-default navbar-fixed-top mainnav">
      <div class="header-head">
        <div class="hh-container clearfix">
          <span class="left">
            {{ page.top_left }}
          </span>
          <span class="right">
            {{ page.top_right }}
          </span>
        </div>
      </div>

      <div class="container">
        <div class="row">
        <div class="navbar-header col-lg-2 col-sm-3 col-xs-12">
          {{ page.branding }}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theoneNavbar" aria-expanded="false">
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      			</button>
        </div>
        <div class="navibar col-lg-10 col-sm-9">
        {% if page.navigation %}
          <div id="theoneNavbar" class="navbar-collapse collapse">
            {{ page.navigation }}
          </div>
        {% endif %}
        </div>
      </div>
    </nav>
  {% endif %}

    <!-- Container (Banner) -->
<header>
  <div class="header container-fluid text-center">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% if page.banner %}
       {{ page.banner }}
      <button type="button" class="btn">{{ page.banner_button_text}}</button>
       {% endif %}
      </div>
   </div>
  </div>
</header>
    <!-- Container (About) -->
  {% if page.about1 %}
    <div class="container text-center">
      <div class="about_top">
        {{ page.about1 }}
      </div>
    </div>
  {% endif %}

  {% if page.about2 or page.about3 or page.about4 %}
    <div class="container con">
      <div class="row">
         <div class="col-sm-4">
        <i class="fal fa-heart" aria-hidden="true"></i>
           <div class="column">
             {{ page.about2 }}
           </div>
         </div>
         <div class="col-sm-4">
          <i class="far fa-lightbulb" aria-hidden="true"></i>
           <div class="column">
             {{ page.about3 }}
           </div>
         </div>
         <div class="col-sm-4">
          <i class="far fa-star" aria-hidden="true"></i>
           <div class="column">
             {{ page.about4 }}
           </div>
        </div>
      </div>
    </div>
  {% endif %}

    <!-- Container (Showcase) -->

    <!-- Container (Contact Section) -->
  {% if page.contact %}
    <div class="container-fluid text-center contact">
      {{ page.contact }}
      <button type="button" class="btn">{{ page.contact_button_text}}</button>
    </div>
  {% endif %}

    <!-- Footer -->
  {% if page.footer1 or page.footer2 or page.footer3 or page.footer4 %}
    <footer>
      <div class="container foot">
        <div class="footer">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            {{ page.footer1 }}
            <p class="foot-arrow"><a class="more" href="#"> {{ "More about us"|t }} &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            {{ page.footer2 }}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            {{ page.footer3 }}

            <div class="map">
              <i class="fas fa-map-marker-alt">{{ page.foot_address }}</i>
            </div>
            <div class="phone">
            <i class="fas fa-phone-volume">{{ page.foot_phone }}</i>
          </div>
            <div class="email">
            <i class="fas fa-envelope">{{ page.foot_email }}</i>
          </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            {{ page.footer4 }}

          </div>
        </div>
      </div>
    </footer>
  {% endif %}

  {% if page.watermark or page.footer_menu %}
    <div class="foot-container clearfix">
      <div class="footer-foot">
        {{ page.watermark }}
        {{ page.footer_menu }}
    </div>
  </div>
{% endif %}
